<center><h1>ChromHMM Report</h1></center>
Input Directory: /home/guest/Bureau/PROJET/NOUVELLE/binary/<br>
Output Directory: /home/guest/Bureau/PROJET/NOUVELLE/Output_Etat/Etat_2<br>
Number of States: 2<br>
Assembly: hg38<br>
Full ChromHMM command: LearnModel -b 200 /home/guest/Bureau/PROJET/NOUVELLE/binary/ /home/guest/Bureau/PROJET/NOUVELLE/Output_Etat/Etat_2 2 hg38
<h1>Model Parameters</h1>
<img src="emissions_2.png"><br>
<li><a href="emissions_2.svg">Emission Parameter SVG File</a><br>
<li><a href="emissions_2.txt">Emission Parameter Tab-Delimited Text File</a><br>
<img src="transitions_2.png"><br>
<li><a href="transitions_2.svg">Transition Parameter SVG File</a><br>
<li><a href="transitions_2.txt">Transition Parameter Tab-Delimited Text File</a><br><br>
<li><a href="model_2.txt">All Model Parameters Tab-Delimited Text File</a> <br>
<h1>Genome Segmentation Files</h1>
<li><a href="body_pancreas_M54_ENCSR320BIN_2_segments.bed">body_pancreas_M54_ENCSR320BIN_2 Segmentation File (Four Column Bed File)</a><br>
<br>
Custom Tracks for loading into the <a href="http://genome.ucsc.edu">UCSC Genome Browser</a>:<br>
<li><a href=body_pancreas_M54_ENCSR320BIN_2_dense.bed>body_pancreas_M54_ENCSR320BIN_2 Browser Custom Track Dense File</a> <br>
<li><a href=body_pancreas_M54_ENCSR320BIN_2_expanded.bed>body_pancreas_M54_ENCSR320BIN_2 Browser Custom Track Expanded File</a><br>
<h1>State Enrichments</h1>
<h2>body_pancreas_M54_ENCSR320BIN_2 Enrichments</h2>
<img src="body_pancreas_M54_ENCSR320BIN_2_overlap.png"> <br>
<li><a href="body_pancreas_M54_ENCSR320BIN_2_overlap.svg">body_pancreas_M54_ENCSR320BIN_2 Overlap Enrichment SVG File</a><br>
<li><a href="body_pancreas_M54_ENCSR320BIN_2_overlap.txt">body_pancreas_M54_ENCSR320BIN_2 Overlap Enrichment Tab-Delimited Text File</a><br>
<img src="body_pancreas_M54_ENCSR320BIN_2_RefSeqTES_neighborhood.png"> <br>
<li><a href="body_pancreas_M54_ENCSR320BIN_2_RefSeqTES_neighborhood.svg">body_pancreas_M54_ENCSR320BIN_2_RefSeqTES_neighborhood Enrichment SVG File</a><br>
<li><a href="body_pancreas_M54_ENCSR320BIN_2_RefSeqTES_neighborhood.txt">body_pancreas_M54_ENCSR320BIN_2_RefSeqTES_neighborhood Enrichment Tab-Delimited Text File</a><br>
<img src="body_pancreas_M54_ENCSR320BIN_2_RefSeqTSS_neighborhood.png"> <br>
<li><a href="body_pancreas_M54_ENCSR320BIN_2_RefSeqTSS_neighborhood.svg">body_pancreas_M54_ENCSR320BIN_2_RefSeqTSS_neighborhood Enrichment SVG File</a><br>
<li><a href="body_pancreas_M54_ENCSR320BIN_2_RefSeqTSS_neighborhood.txt">body_pancreas_M54_ENCSR320BIN_2_RefSeqTSS_neighborhood Enrichment Tab-Delimited Text File</a><br>
