<center><h1>ChromHMM Report</h1></center>
Input Directory: /home/guest/Bureau/PROJET/NOUVELLE/binary/<br>
Output Directory: /home/guest/Bureau/PROJET/NOUVELLE/Output_Etat/Etat_4<br>
Number of States: 4<br>
Assembly: hg38<br>
Full ChromHMM command: LearnModel -b 200 /home/guest/Bureau/PROJET/NOUVELLE/binary/ /home/guest/Bureau/PROJET/NOUVELLE/Output_Etat/Etat_4 4 hg38
<h1>Model Parameters</h1>
<img src="emissions_4.png"><br>
<li><a href="emissions_4.svg">Emission Parameter SVG File</a><br>
<li><a href="emissions_4.txt">Emission Parameter Tab-Delimited Text File</a><br>
<img src="transitions_4.png"><br>
<li><a href="transitions_4.svg">Transition Parameter SVG File</a><br>
<li><a href="transitions_4.txt">Transition Parameter Tab-Delimited Text File</a><br><br>
<li><a href="model_4.txt">All Model Parameters Tab-Delimited Text File</a> <br>
<h1>Genome Segmentation Files</h1>
<li><a href="body_pancreas_M54_ENCSR320BIN_4_segments.bed">body_pancreas_M54_ENCSR320BIN_4 Segmentation File (Four Column Bed File)</a><br>
<br>
Custom Tracks for loading into the <a href="http://genome.ucsc.edu">UCSC Genome Browser</a>:<br>
<li><a href=body_pancreas_M54_ENCSR320BIN_4_dense.bed>body_pancreas_M54_ENCSR320BIN_4 Browser Custom Track Dense File</a> <br>
<li><a href=body_pancreas_M54_ENCSR320BIN_4_expanded.bed>body_pancreas_M54_ENCSR320BIN_4 Browser Custom Track Expanded File</a><br>
<h1>State Enrichments</h1>
<h2>body_pancreas_M54_ENCSR320BIN_4 Enrichments</h2>
<img src="body_pancreas_M54_ENCSR320BIN_4_overlap.png"> <br>
<li><a href="body_pancreas_M54_ENCSR320BIN_4_overlap.svg">body_pancreas_M54_ENCSR320BIN_4 Overlap Enrichment SVG File</a><br>
<li><a href="body_pancreas_M54_ENCSR320BIN_4_overlap.txt">body_pancreas_M54_ENCSR320BIN_4 Overlap Enrichment Tab-Delimited Text File</a><br>
<img src="body_pancreas_M54_ENCSR320BIN_4_RefSeqTES_neighborhood.png"> <br>
<li><a href="body_pancreas_M54_ENCSR320BIN_4_RefSeqTES_neighborhood.svg">body_pancreas_M54_ENCSR320BIN_4_RefSeqTES_neighborhood Enrichment SVG File</a><br>
<li><a href="body_pancreas_M54_ENCSR320BIN_4_RefSeqTES_neighborhood.txt">body_pancreas_M54_ENCSR320BIN_4_RefSeqTES_neighborhood Enrichment Tab-Delimited Text File</a><br>
<img src="body_pancreas_M54_ENCSR320BIN_4_RefSeqTSS_neighborhood.png"> <br>
<li><a href="body_pancreas_M54_ENCSR320BIN_4_RefSeqTSS_neighborhood.svg">body_pancreas_M54_ENCSR320BIN_4_RefSeqTSS_neighborhood Enrichment SVG File</a><br>
<li><a href="body_pancreas_M54_ENCSR320BIN_4_RefSeqTSS_neighborhood.txt">body_pancreas_M54_ENCSR320BIN_4_RefSeqTSS_neighborhood Enrichment Tab-Delimited Text File</a><br>
