<center><h1>ChromHMM Report</h1></center>
Input Directory: /home/guest/Downloads/ptutabd/BinarizedOutput<br>
Output Directory: /home/guest/Downloads/ptutabd/output_18_<br>
Number of States: 18<br>
Assembly: /home/guest/Downloads/05_Ptut_M1_2022/data/ref_genome/ref_genome/GRCh38_primary_assembly_chr21.fa<br>
Full ChromHMM command: LearnModel -b 200 /home/guest/Downloads/ptutabd/BinarizedOutput /home/guest/Downloads/ptutabd/output_18_ 18 /home/guest/Downloads/05_Ptut_M1_2022/data/ref_genome/ref_genome/GRCh38_primary_assembly_chr21.fa
<h1>Model Parameters</h1>
<img src="emissions_18.png"><br>
<li><a href="emissions_18.svg">Emission Parameter SVG File</a><br>
<li><a href="emissions_18.txt">Emission Parameter Tab-Delimited Text File</a><br>
<img src="transitions_18.png"><br>
<li><a href="transitions_18.svg">Transition Parameter SVG File</a><br>
<li><a href="transitions_18.txt">Transition Parameter Tab-Delimited Text File</a><br><br>
<li><a href="model_18.txt">All Model Parameters Tab-Delimited Text File</a> <br>
<h1>Genome Segmentation Files</h1>
<li><a href="body_pancreas_M54_ENCSR320BIN_18_segments.bed">body_pancreas_M54_ENCSR320BIN_18 Segmentation File (Four Column Bed File)</a><br>
<br>
Custom Tracks for loading into the <a href="http://genome.ucsc.edu">UCSC Genome Browser</a>:<br>
<li><a href=body_pancreas_M54_ENCSR320BIN_18_dense.bed>body_pancreas_M54_ENCSR320BIN_18 Browser Custom Track Dense File</a> <br>
<li><a href=body_pancreas_M54_ENCSR320BIN_18_expanded.bed>body_pancreas_M54_ENCSR320BIN_18 Browser Custom Track Expanded File</a><br>
<h1>State Enrichments</h1>
<h2>body_pancreas_M54_ENCSR320BIN_18 Enrichments</h2>
